body {
  font-family: "Cairo", sans-serif;
  background: linear-gradient(135deg,#0f172a,#1e3a8a);
  color: white;
  margin:0;
}

.page{display:none;padding:20px;text-align:center;}
.page.active{display:block;}

.topbar{
  display:flex;justify-content:space-between;
  padding:10px;background:rgba(255,255,255,0.05);
}

.flag{width:40px}
.menu button{margin:5px;padding:8px 15px;border-radius:20px}

.home-container{text-align:center}
.hero-img{width:100px;background:white;border-radius:50%}
.start-btn{background:gold;padding:15px;border-radius:20px}

.levels-grid{display:grid;grid-template-columns:repeat(2,1fr);gap:10px}
.level-card{padding:20px;background:rgba(255,255,255,0.1);border-radius:15px;position:relative}

.badge{position:absolute;bottom:10px;left:10px}

.quiz{background:rgba(255,255,255,0.1);padding:20px;border-radius:20px}

.answers button{display:block;margin:10px auto;width:200px}

.progress{height:10px;background:#444}
.progress-bar{height:100%;background:#22c55e;width:0%}

.stars{color:gold;font-size:25px}
